apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bazarr.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "bazarr.name" . }}
    app.kubernetes.io/part-of: {{ include "bazarr.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "bazarr.chart" . }}
spec:
  replicas: 1
  strategy:
    type: {{ .Values.strategyType }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "bazarr.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "bazarr.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 6767
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /notifications
              port: http
          readinessProbe:
            httpGet:
              path: /notifications
              port: http
          env:
            - name: TZ
              value: "{{ .Values.timezone }}"
            - name: PUID
              value: "{{ .Values.puid }}"
            - name: PGID
              value: "{{ .Values.pgid }}"
            - name: UMASK_SET
              value: "{{ .Values.umask }}"
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /tv
              name: tv
            {{- if .Values.persistence.tv.subPath }}
              subPath: {{ .Values.persistence.tv.subPath }}
            {{- end }}
            - mountPath: /movies
              name: movies
            {{- if .Values.persistence.movies.subPath }}
              subPath: {{ .Values.persistence.movies.subPath }}
            {{- end }}
              name: config
            {{- if .Values.persistence.movies4k }}
            - mountPath: /movies4k
              name: movies4k
            {{- if .Values.persistence.movies4k.subPath }}
              subPath: {{ .Values.persistence.movies4k.subPath }}
            {{- end }}
            {{- end }}
            {{- range .Values.persistence.extraExistingClaimMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              readOnly: {{ .readOnly }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          {{- if .Values.persistence.config.enabled }}
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.config.existingClaim }}{{ .Values.persistence.config.existingClaim }}{{- else }}{{ template "bazarr.fullname" . }}-config{{- end }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: tv
        {{- if .Values.persistence.tv.enabled }}
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.tv.existingClaim }}{{ .Values.persistence.tv.existingClaim }}{{- else }}{{ template "bazarr.fullname" . }}-tv{{- end }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: movies
        {{- if .Values.persistence.movies.enabled }}
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.movies.existingClaim }}{{ .Values.persistence.movies.existingClaim }}{{- else }}{{ template "bazarr.fullname" . }}-movies{{- end }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- if .Values.persistence.movies4k }}
        - name: movies4k
        {{- if .Values.persistence.movies4k.enabled }}
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.movies4k.existingClaim }}{{ .Values.persistence.movies4k.existingClaim }}{{- else }}{{ template "bazarr.fullname" . }}-movies4k{{- end }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- end }}
        {{- range .Values.persistence.extraExistingClaimMounts }}
        - name: {{ .name }}
          persistentVolumeClaim:
            claimName: {{ .existingClaim }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
